*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-switch {
    display: block;
}
.custom-switch label {
    width: 100px;
    height: 50px;
    border: 2px solid #00bff0;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s linear;
    padding: 3px;
    box-sizing: border-box;
}
.custom-switch label span{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #00bff0;
    border-radius: 50%;
    transition: margin-left 0.4s ;
} 
.custom-switch input[type=checkbox]:checked + label span {
    margin-left: 55%;
    background-color: #fff;
  
}
.custom-switch input[type=checkbox]:checked + label {
    background-color: #00bff0;
    box-shadow: 0 5px 100px 25px #00c0f0c7;
}
.custom-switch input {
    display: none;
}
.bg-dark{
    background-color: #161616;
}
#body{
    transition: all 0.4s;
}